In [1]:
import pandas as pd

In [2]:
redfin_county_data = pd.read_csv('county_market_tracker.tsv000', sep="\t", header=0, dtype=str)

In [3]:
redfin_county_data['PERIOD_BEGIN'] = pd.to_datetime(redfin_county_data['PERIOD_BEGIN'])
redfin_county_data['PERIOD_END'] = pd.to_datetime(redfin_county_data['PERIOD_END'])
redfin_county_data['MEDIAN_SALE_PRICE'] = redfin_county_data['MEDIAN_SALE_PRICE'].astype('float')
redfin_county_data['MEDIAN_LIST_PRICE'] = redfin_county_data['MEDIAN_LIST_PRICE'].astype('float')

In [4]:
redfin_county_data.head()

,PERIOD_BEGIN,PERIOD_END,PERIOD_DURATION,REGION_TYPE,REGION_TYPE_ID,TABLE_ID,IS_SEASONALLY_ADJUSTED,REGION,CITY,STATE,...,SOLD_ABOVE_LIST_YOY,PRICE_DROPS,PRICE_DROPS_MOM,PRICE_DROPS_YOY,OFF_MARKET_IN_TWO_WEEKS,OFF_MARKET_IN_TWO_WEEKS_MOM,OFF_MARKET_IN_TWO_WEEKS_YOY,PARENT_METRO_REGION,PARENT_METRO_REGION_METRO_CODE,LAST_UPDATED
0,2023-12-01,2023-12-31,30,county,5,3220,false,"Sawyer County, WI",NaN,Wisconsin,...,0.108892922,0.16,0.02746987952,0.07463414634,0.3076923077,-0.02564102564,0.07692307692,Wisconsin nonmetropolitan area,NaN,2025-04-18 14:40:47.550 Z
1,2015-12-01,2015-12-31,30,county,5,1583,false,"Stone County, MS",NaN,Mississippi,...,-0.07575757576,NaN,NaN,NaN,0,0,0,"Gulfport, MS",25060,2025-04-18 14:40:47.550 Z
2,2017-12-01,2017-12-31,30,county,5,1563,false,"Marion County, MS",NaN,Mississippi,...,0,NaN,NaN,NaN,0,0,0,Mississippi nonmetropolitan area,NaN,2025-04-18 14:40:47.550 Z
3,2014-02-01,2014-02-28,30,county,5,123,false,"Blount County, AL",NaN,Alabama,...,-0.1246153846,NaN,NaN,NaN,0.03846153846,0.001424501425,0.03846153846,"Birmingham, AL",13820,2025-04-18 14:40:47.550 Z
4,2023-07-01,2023-07-31,30,county,5,2399,false,"Lehigh County, PA",NaN,Pennsylvania,...,0.006691955031,0.2287390029,-0.02275800306,-0.06505661751,0.6497005988,-0.01597104299,0.05104589028,"Allentown, PA",10900,2025-04-18 14:40:47.550 Z

In [5]:
redfin_county_data_2016_2020 = redfin_county_data[(redfin_county_data['PERIOD_BEGIN'] >= '2016-01-01') & (redfin_county_data['PERIOD_BEGIN'] <= '2020-12-31')].copy()

In [6]:
def extract_county_name(row): 
    full_county_name = row['REGION']
    if "County" in full_county_name: 
        return full_county_name.split(" County")[0]
    else: 
        return full_county_name.split(" Parish")[0]

In [7]:
redfin_county_data_2016_2020['COUNTY_NAME'] = redfin_county_data_2016_2020.apply(func=extract_county_name, axis=1)

In [8]:
redfin_county_data_2016_2020['COUNTY_NAME']

2             Marion
5              Scott
8          San Mateo
13            Sabine
14         Caledonia
             ...
1227817         Iron
1227818      Roberts
1227819     Campbell
1227828     Angelina
1227829    Washtenaw
Name: COUNTY_NAME, Length: 481657, dtype: object

In [9]:
redfin_county_data_2016_2020.columns

Index(['PERIOD_BEGIN', 'PERIOD_END', 'PERIOD_DURATION', 'REGION_TYPE',
       'REGION_TYPE_ID', 'TABLE_ID', 'IS_SEASONALLY_ADJUSTED', 'REGION',
       'CITY', 'STATE', 'STATE_CODE', 'PROPERTY_TYPE', 'PROPERTY_TYPE_ID',
       'MEDIAN_SALE_PRICE', 'MEDIAN_SALE_PRICE_MOM', 'MEDIAN_SALE_PRICE_YOY',
       'MEDIAN_LIST_PRICE', 'MEDIAN_LIST_PRICE_MOM', 'MEDIAN_LIST_PRICE_YOY',
       'MEDIAN_PPSF', 'MEDIAN_PPSF_MOM', 'MEDIAN_PPSF_YOY', 'MEDIAN_LIST_PPSF',
       'MEDIAN_LIST_PPSF_MOM', 'MEDIAN_LIST_PPSF_YOY', 'HOMES_SOLD',
       'HOMES_SOLD_MOM', 'HOMES_SOLD_YOY', 'PENDING_SALES',
       'PENDING_SALES_MOM', 'PENDING_SALES_YOY', 'NEW_LISTINGS',
       'NEW_LISTINGS_MOM', 'NEW_LISTINGS_YOY', 'INVENTORY', 'INVENTORY_MOM',
       'INVENTORY_YOY', 'MONTHS_OF_SUPPLY', 'MONTHS_OF_SUPPLY_MOM',
       'MONTHS_OF_SUPPLY_YOY', 'MEDIAN_DOM', 'MEDIAN_DOM_MOM',
       'MEDIAN_DOM_YOY', 'AVG_SALE_TO_LIST', 'AVG_SALE_TO_LIST_MOM',
       'AVG_SALE_TO_LIST_YOY', 'SOLD_ABOVE_LIST', 'SOLD_ABOVE_LIST_MOM',
       'SOLD_ABOVE_LIST_YOY', 'PRICE_DROPS', 'PRICE_DROPS_MOM',
       'PRICE_DROPS_YOY', 'OFF_MARKET_IN_TWO_WEEKS',
       'OFF_MARKET_IN_TWO_WEEKS_MOM', 'OFF_MARKET_IN_TWO_WEEKS_YOY',
       'PARENT_METRO_REGION', 'PARENT_METRO_REGION_METRO_CODE', 'LAST_UPDATED',
       'COUNTY_NAME'],
      dtype='object')

In [10]:
columns_to_keep = ['PERIOD_BEGIN', 'PERIOD_END', 'COUNTY_NAME', 'STATE', 'STATE_CODE', 'MEDIAN_SALE_PRICE', 'MEDIAN_LIST_PRICE']

In [11]:
redfin_data = redfin_county_data_2016_2020[columns_to_keep].copy()

In [12]:
redfin_data.head()

,PERIOD_BEGIN,PERIOD_END,COUNTY_NAME,STATE,STATE_CODE,MEDIAN_SALE_PRICE,MEDIAN_LIST_PRICE
2,2017-12-01,2017-12-31,Marion,Mississippi,MS,85000.0,113000.0
5,2018-01-01,2018-01-31,Scott,Indiana,IN,101700.0,135000.0
8,2018-04-01,2018-04-30,San Mateo,California,CA,1438000.0,1350000.0
13,2020-01-01,2020-01-31,Sabine,Texas,TX,358950.0,164000.0
14,2019-07-01,2019-07-31,Caledonia,Vermont,VT,120000.0,189000.0